$color1: #45ff45;
$color2: #21e521;
$color3: #ff4444;
$color4: #e52121;
$color5: #F2F2F2;

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 200 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

@mixin longshadow($color) {
  box-shadow: makelongshadow($color);
}

.container {
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;

  background: $color5;
  background-image: url('./img/FF5qM3y.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 500px;
  height: 500px;
  background: $color3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.tomato {
  width: 300px;
  height: 300px;
  box-sizing: content-box;
  background: $color3;
  border: 15px solid $color5;
  border-radius: 50%;
  @include longshadow($color4);
  overflow: hidden;
  cursor: ew-resize;
  position: relative;
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
  }
  &::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent $color5 transparent;
    left: 140px;
    top: 180px;
  }
  .title {
    position: absolute;
    color: $color5;
    font-size: 18px;
    width: 100%;
    text-align: center;
    top: 250px;
  }
}

.stem {
  z-index: 2;
  width: 310px;
  top: -56px;
  left: 75px;
  height: auto;
  position: absolute;
  pointer-events: none;
  use {
    fill: $color2;
  }
}

.timeline {
  width: 676px;
  height: 50px;
  position: absolute;
  top: 110px;
  left: 150px;
  background: url('./img/pomodoro.png') no-repeat;
  background-size: 100% 100%;
  //transform:translateX(-315px);
}

.sound {
  font-size: 30px;
  color: $color5;
  position: absolute;
  cursor: pointer;
  width: 28px;
  top: 50px;
  left: 50px;
}
