* {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container-mobile, .container-desktop {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff4444; }

.container-desktop {
  min-width: 500px;
  min-height: 500px;
  background: #F2F2F2;
  background-image: url("./img/FF5qM3y.jpg"); }

.switch-wrapper {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main-mobile, .main-desktop, .main-desktop-rest, .main-mobile-rest {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.main-desktop, .main-desktop-rest {
  width: 500px;
  height: 500px;
  background: #ff4444;
  overflow: hidden; }

.main-mobile-rest, .main-desktop-rest {
  background: #68a662; }
  .main-mobile-rest .tomato, .main-desktop-rest .tomato {
    background: #68a662;
    box-shadow: 0px 0px #52884d, 1px 1px #52884d, 2px 2px #52884d, 3px 3px #52884d, 4px 4px #52884d, 5px 5px #52884d, 6px 6px #52884d, 7px 7px #52884d, 8px 8px #52884d, 9px 9px #52884d, 10px 10px #52884d, 11px 11px #52884d, 12px 12px #52884d, 13px 13px #52884d, 14px 14px #52884d, 15px 15px #52884d, 16px 16px #52884d, 17px 17px #52884d, 18px 18px #52884d, 19px 19px #52884d, 20px 20px #52884d, 21px 21px #52884d, 22px 22px #52884d, 23px 23px #52884d, 24px 24px #52884d, 25px 25px #52884d, 26px 26px #52884d, 27px 27px #52884d, 28px 28px #52884d, 29px 29px #52884d, 30px 30px #52884d, 31px 31px #52884d, 32px 32px #52884d, 33px 33px #52884d, 34px 34px #52884d, 35px 35px #52884d, 36px 36px #52884d, 37px 37px #52884d, 38px 38px #52884d, 39px 39px #52884d, 40px 40px #52884d, 41px 41px #52884d, 42px 42px #52884d, 43px 43px #52884d, 44px 44px #52884d, 45px 45px #52884d, 46px 46px #52884d, 47px 47px #52884d, 48px 48px #52884d, 49px 49px #52884d, 50px 50px #52884d, 51px 51px #52884d, 52px 52px #52884d, 53px 53px #52884d, 54px 54px #52884d, 55px 55px #52884d, 56px 56px #52884d, 57px 57px #52884d, 58px 58px #52884d, 59px 59px #52884d, 60px 60px #52884d, 61px 61px #52884d, 62px 62px #52884d, 63px 63px #52884d, 64px 64px #52884d, 65px 65px #52884d, 66px 66px #52884d, 67px 67px #52884d, 68px 68px #52884d, 69px 69px #52884d, 70px 70px #52884d, 71px 71px #52884d, 72px 72px #52884d, 73px 73px #52884d, 74px 74px #52884d, 75px 75px #52884d, 76px 76px #52884d, 77px 77px #52884d, 78px 78px #52884d, 79px 79px #52884d, 80px 80px #52884d, 81px 81px #52884d, 82px 82px #52884d, 83px 83px #52884d, 84px 84px #52884d, 85px 85px #52884d, 86px 86px #52884d, 87px 87px #52884d, 88px 88px #52884d, 89px 89px #52884d, 90px 90px #52884d, 91px 91px #52884d, 92px 92px #52884d, 93px 93px #52884d, 94px 94px #52884d, 95px 95px #52884d, 96px 96px #52884d, 97px 97px #52884d, 98px 98px #52884d, 99px 99px #52884d, 100px 100px #52884d, 101px 101px #52884d, 102px 102px #52884d, 103px 103px #52884d, 104px 104px #52884d, 105px 105px #52884d, 106px 106px #52884d, 107px 107px #52884d, 108px 108px #52884d, 109px 109px #52884d, 110px 110px #52884d, 111px 111px #52884d, 112px 112px #52884d, 113px 113px #52884d, 114px 114px #52884d, 115px 115px #52884d, 116px 116px #52884d, 117px 117px #52884d, 118px 118px #52884d, 119px 119px #52884d, 120px 120px #52884d, 121px 121px #52884d, 122px 122px #52884d, 123px 123px #52884d, 124px 124px #52884d, 125px 125px #52884d, 126px 126px #52884d, 127px 127px #52884d, 128px 128px #52884d, 129px 129px #52884d, 130px 130px #52884d, 131px 131px #52884d, 132px 132px #52884d, 133px 133px #52884d, 134px 134px #52884d, 135px 135px #52884d, 136px 136px #52884d, 137px 137px #52884d, 138px 138px #52884d, 139px 139px #52884d, 140px 140px #52884d, 141px 141px #52884d, 142px 142px #52884d, 143px 143px #52884d, 144px 144px #52884d, 145px 145px #52884d, 146px 146px #52884d, 147px 147px #52884d, 148px 148px #52884d, 149px 149px #52884d, 150px 150px #52884d, 151px 151px #52884d, 152px 152px #52884d, 153px 153px #52884d, 154px 154px #52884d, 155px 155px #52884d, 156px 156px #52884d, 157px 157px #52884d, 158px 158px #52884d, 159px 159px #52884d, 160px 160px #52884d, 161px 161px #52884d, 162px 162px #52884d, 163px 163px #52884d, 164px 164px #52884d, 165px 165px #52884d, 166px 166px #52884d, 167px 167px #52884d, 168px 168px #52884d, 169px 169px #52884d, 170px 170px #52884d, 171px 171px #52884d, 172px 172px #52884d, 173px 173px #52884d, 174px 174px #52884d, 175px 175px #52884d, 176px 176px #52884d, 177px 177px #52884d, 178px 178px #52884d, 179px 179px #52884d, 180px 180px #52884d, 181px 181px #52884d, 182px 182px #52884d, 183px 183px #52884d, 184px 184px #52884d, 185px 185px #52884d, 186px 186px #52884d, 187px 187px #52884d, 188px 188px #52884d, 189px 189px #52884d, 190px 190px #52884d, 191px 191px #52884d, 192px 192px #52884d, 193px 193px #52884d, 194px 194px #52884d, 195px 195px #52884d, 196px 196px #52884d, 197px 197px #52884d, 198px 198px #52884d, 199px 199px #52884d, 200px 200px #52884d; }
  .main-mobile-rest .stem-mobile, .main-desktop-rest .stem-mobile {
    fill: #ffb700; }

.main-desktop-rest .stem-desktop {
  fill: #ffb700; }

.tomato {
  width: 300px;
  height: 300px;
  box-sizing: content-box;
  background: #ff4444;
  border: 15px solid #F2F2F2;
  border-radius: 50%;
  box-shadow: 0px 0px #e52121, 1px 1px #e52121, 2px 2px #e52121, 3px 3px #e52121, 4px 4px #e52121, 5px 5px #e52121, 6px 6px #e52121, 7px 7px #e52121, 8px 8px #e52121, 9px 9px #e52121, 10px 10px #e52121, 11px 11px #e52121, 12px 12px #e52121, 13px 13px #e52121, 14px 14px #e52121, 15px 15px #e52121, 16px 16px #e52121, 17px 17px #e52121, 18px 18px #e52121, 19px 19px #e52121, 20px 20px #e52121, 21px 21px #e52121, 22px 22px #e52121, 23px 23px #e52121, 24px 24px #e52121, 25px 25px #e52121, 26px 26px #e52121, 27px 27px #e52121, 28px 28px #e52121, 29px 29px #e52121, 30px 30px #e52121, 31px 31px #e52121, 32px 32px #e52121, 33px 33px #e52121, 34px 34px #e52121, 35px 35px #e52121, 36px 36px #e52121, 37px 37px #e52121, 38px 38px #e52121, 39px 39px #e52121, 40px 40px #e52121, 41px 41px #e52121, 42px 42px #e52121, 43px 43px #e52121, 44px 44px #e52121, 45px 45px #e52121, 46px 46px #e52121, 47px 47px #e52121, 48px 48px #e52121, 49px 49px #e52121, 50px 50px #e52121, 51px 51px #e52121, 52px 52px #e52121, 53px 53px #e52121, 54px 54px #e52121, 55px 55px #e52121, 56px 56px #e52121, 57px 57px #e52121, 58px 58px #e52121, 59px 59px #e52121, 60px 60px #e52121, 61px 61px #e52121, 62px 62px #e52121, 63px 63px #e52121, 64px 64px #e52121, 65px 65px #e52121, 66px 66px #e52121, 67px 67px #e52121, 68px 68px #e52121, 69px 69px #e52121, 70px 70px #e52121, 71px 71px #e52121, 72px 72px #e52121, 73px 73px #e52121, 74px 74px #e52121, 75px 75px #e52121, 76px 76px #e52121, 77px 77px #e52121, 78px 78px #e52121, 79px 79px #e52121, 80px 80px #e52121, 81px 81px #e52121, 82px 82px #e52121, 83px 83px #e52121, 84px 84px #e52121, 85px 85px #e52121, 86px 86px #e52121, 87px 87px #e52121, 88px 88px #e52121, 89px 89px #e52121, 90px 90px #e52121, 91px 91px #e52121, 92px 92px #e52121, 93px 93px #e52121, 94px 94px #e52121, 95px 95px #e52121, 96px 96px #e52121, 97px 97px #e52121, 98px 98px #e52121, 99px 99px #e52121, 100px 100px #e52121, 101px 101px #e52121, 102px 102px #e52121, 103px 103px #e52121, 104px 104px #e52121, 105px 105px #e52121, 106px 106px #e52121, 107px 107px #e52121, 108px 108px #e52121, 109px 109px #e52121, 110px 110px #e52121, 111px 111px #e52121, 112px 112px #e52121, 113px 113px #e52121, 114px 114px #e52121, 115px 115px #e52121, 116px 116px #e52121, 117px 117px #e52121, 118px 118px #e52121, 119px 119px #e52121, 120px 120px #e52121, 121px 121px #e52121, 122px 122px #e52121, 123px 123px #e52121, 124px 124px #e52121, 125px 125px #e52121, 126px 126px #e52121, 127px 127px #e52121, 128px 128px #e52121, 129px 129px #e52121, 130px 130px #e52121, 131px 131px #e52121, 132px 132px #e52121, 133px 133px #e52121, 134px 134px #e52121, 135px 135px #e52121, 136px 136px #e52121, 137px 137px #e52121, 138px 138px #e52121, 139px 139px #e52121, 140px 140px #e52121, 141px 141px #e52121, 142px 142px #e52121, 143px 143px #e52121, 144px 144px #e52121, 145px 145px #e52121, 146px 146px #e52121, 147px 147px #e52121, 148px 148px #e52121, 149px 149px #e52121, 150px 150px #e52121, 151px 151px #e52121, 152px 152px #e52121, 153px 153px #e52121, 154px 154px #e52121, 155px 155px #e52121, 156px 156px #e52121, 157px 157px #e52121, 158px 158px #e52121, 159px 159px #e52121, 160px 160px #e52121, 161px 161px #e52121, 162px 162px #e52121, 163px 163px #e52121, 164px 164px #e52121, 165px 165px #e52121, 166px 166px #e52121, 167px 167px #e52121, 168px 168px #e52121, 169px 169px #e52121, 170px 170px #e52121, 171px 171px #e52121, 172px 172px #e52121, 173px 173px #e52121, 174px 174px #e52121, 175px 175px #e52121, 176px 176px #e52121, 177px 177px #e52121, 178px 178px #e52121, 179px 179px #e52121, 180px 180px #e52121, 181px 181px #e52121, 182px 182px #e52121, 183px 183px #e52121, 184px 184px #e52121, 185px 185px #e52121, 186px 186px #e52121, 187px 187px #e52121, 188px 188px #e52121, 189px 189px #e52121, 190px 190px #e52121, 191px 191px #e52121, 192px 192px #e52121, 193px 193px #e52121, 194px 194px #e52121, 195px 195px #e52121, 196px 196px #e52121, 197px 197px #e52121, 198px 198px #e52121, 199px 199px #e52121, 200px 200px #e52121;
  overflow: hidden;
  cursor: ew-resize;
  position: relative; }
  .tomato::before, .tomato::after {
    content: '';
    display: block;
    position: absolute; }
  .tomato::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #F2F2F2 transparent;
    left: 140px;
    top: 180px; }
  .tomato .title {
    position: absolute;
    color: #F2F2F2;
    font-size: 18px;
    width: 100%;
    text-align: center;
    top: 250px; }

.stem-desktop {
  z-index: 2;
  width: 310px;
  height: auto;
  position: absolute;
  pointer-events: none;
  fill: #21e521;
  top: -56px;
  left: 75px; }

.stem-mobile {
  z-index: 2;
  width: 310px;
  height: auto;
  position: absolute;
  pointer-events: none;
  fill: #21e521;
  top: -150px;
  left: 0; }

.timeline {
  width: 676px;
  height: 50px;
  position: absolute;
  top: 110px;
  left: 150px;
  background: url("./img/pomodoro.png") no-repeat;
  background-size: 100% 100%; }

.config {
  font-size: 30px;
  color: #F2F2F2;
  position: absolute;
  cursor: pointer;
  width: 28px;
  top: 50px;
  left: 50px; }

.sound-desktop {
  font-size: 30px;
  color: #F2F2F2;
  position: absolute;
  cursor: pointer;
  width: 28px;
  top: 50px;
  left: 50px; }

.icon_wrapper {
  position: absolute;
  top: 50px;
  right: 85px; }

.sound-mobile {
  font-size: 30px;
  color: #F2F2F2;
  position: absolute;
  cursor: pointer;
  width: 28px; }

.shifter-desktop, .shifter-mobile {
  position: absolute;
  bottom: 35px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .shifter-desktop .rest, .shifter-mobile .rest {
    background-color: #68a662; }
  .shifter-desktop .work, .shifter-mobile .work {
    background-color: #ff4444; }
  .shifter-desktop div, .shifter-mobile div {
    display: inline;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: solid 1px whitesmoke;
    transition: all 0.3s;
    cursor: pointer; }
    .shifter-desktop div:hover, .shifter-mobile div:hover {
      width: 18px;
      height: 18px;
      border-radius: 9px; }

.shifter-mobile {
  bottom: -80px; }

/*# sourceMappingURL=PomodoroTimer.css.map */
