$color1: #45ff45;
$color2: #21e521;
$color2-1: #ffb700;
$color3: #ff4444;
$color3-1: #68a662;
$color4: #e52121;
$color4-1: darken(#68a662, 10%);
$color5: #F2F2F2;

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 200 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

@mixin longshadow($color) {
  box-shadow: makelongshadow($color);
}

* {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-mobile {
  width: 100%;
  height: 100%;

  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color3;
}

.container-desktop {
  @extend .container-mobile;
  min-width: 500px;
  min-height: 500px;
  background: $color5;
  background-image: url('./img/FF5qM3y.jpg');
}

.switch-wrapper {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-mobile {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-desktop {
  @extend .main-mobile;
  width: 500px;
  height: 500px;
  background: $color3;
  overflow: hidden;
}

.main-mobile-rest {
  @extend .main-mobile;
  background: $color3-1;
  .tomato {
    background: $color3-1;
    @include longshadow($color4-1);
  }
  .stem-mobile {
    fill: $color2-1;
  }
}

.main-desktop-rest {
  @extend .main-desktop;
  @extend .main-mobile-rest;
  .stem-desktop {
    fill: $color2-1;
  }
}

.tomato {
  width: 300px;
  height: 300px;
  box-sizing: content-box;
  background: $color3;
  border: 15px solid $color5;
  border-radius: 50%;
  @include longshadow($color4);
  overflow: hidden;
  cursor: ew-resize;
  position: relative;
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
  }
  &::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent $color5 transparent;
    left: 140px;
    top: 180px;
  }
  .title {
    position: absolute;
    color: $color5;
    font-size: 18px;
    width: 100%;
    text-align: center;
    top: 250px;
  }
}

@mixin stem {
  z-index: 2;
  width: 310px;
  height: auto;
  position: absolute;
  pointer-events: none;
  fill: $color2;
}

.stem-desktop {
  @include stem;
  top: -56px;
  left: 75px;
}

.stem-mobile {
  @include stem;
  top: -150px;
  left: 0;
}

.timeline {
  width: 676px;
  height: 50px;
  position: absolute;
  top: 110px;
  left: 150px;
  background: url('./img/pomodoro.png') no-repeat;
  background-size: 100% 100%;
  //transform:translateX(-315px);
}

@mixin icon {
  font-size: 30px;
  color: $color5;
  position: absolute;
  cursor: pointer;
  width: 28px;
}

.config {
  @include icon;
  top: 50px;
  left: 50px;
}

.sound-desktop {
  @include icon;
  top: 50px;
  left: 50px;
}

.icon_wrapper {
  position: absolute;
  top: 50px;
  right: 85px;
}

.sound-mobile {
  @include icon;
}

.shifter-desktop {
  position: absolute;
  bottom: 35px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .rest {
    background-color: $color3-1;
  }

  .work {
    background-color: $color3;
  }

  div {
     display: inline;
     width: 14px;
     height: 14px;
     border-radius: 7px;
     border: solid 1px whitesmoke;
     transition: all 0.3s;
     cursor: pointer;
     &:hover {
       width: 18px;
       height: 18px;
       border-radius: 9px;
     }
  }
}

.shifter-mobile {
  @extend .shifter-desktop;
  bottom: -80px;
}
